:root {
  --border: 1px solid #E6E6E6;
  --bordar-radius: 5rem;
  --color-primary: #ffffff;
  --color-secondary: #F16136;
  --font-color: #ffffff;

  color: #808080;
  font-family: roboto;
  background-color: #F0F0F0;

}

body {
  background-color: #F0F0F0;
}

.row {
  --bs-gutter-x: 0;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

/* Navbar */

.navbar {
  position: fixed;

  background-color: var(--color-primary);
  border-radius: .5rem;
  margin: .5rem;
}

.reserva-navbar a {
  font-weight: bold;

  background-color: var(--color-secondary);
  border: var(--border);
  border-radius: var(--bordar-radius);
  color: var(--font-color);
  margin: .3rem;
  padding: .5rem 2rem;
}

.text-navbar {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 .5rem;
}

/* Home */

.home {
  background-image: url('../img/restaurant.png');
  background-repeat: no-repeat;
  background-size: 100rem 50rem;
  padding: 9rem 0;
}

.home-reserva {
  align-items: center;
  display: flex;
  flex-direction: column;

  background-color: var(--color-primary);
  border-radius: 1rem;
  margin: -1rem 3rem;
  width: 18rem;
}

.figure-logo {
  margin: 1rem 0 0;
}

.figure-logo-img {
  width: 10rem;
}

.text-center {
  font-weight: bold;

  font-size: .7rem;
  text-transform: uppercase;
}

.home-reserva p {
  font-weight: bold;
  text-align: center;

  padding: 0 1.5rem;
}

hr {
  border-top: 2px solid rgba(128, 128, 128, 0.233);
  border-radius: var(--bordar-radius);
  width: 95%;
}

.opcoes {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.opcoes a {
  font-weight: bold;

  border: 1px solid #9A9A9A;
  border-radius: var(--bordar-radius);
  color: rgb(167, 167, 167);
  margin: .3rem;
  padding: .5rem 4rem;
}

.opcoes a:first-child {
  background-color: var(--color-secondary);
  color: var(--font-color);
}

.sites-reservas img {
  border: var(--border);
  margin: .3rem;
}

.scroll-page {
  position: absolute;

  color: var(--font-color);
  font-weight: bold;
  right: 1rem;
  top: 41rem;
}

.scroll-page img {
  margin: 0 .5rem;
  width: 1.5rem;
}

/* Carousel */
.carousel-control-next,
.carousel-control-prev {
  text-decoration: none;

  color: var(--font-color);
  margin: 5px;
  opacity: .9;
  outline: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  align-items: center;
  display: flex;
  justify-content: center;

  background-color: var(--color-primary);
  background-image: none;
  height: 3rem;
  opacity: 1;
  width: 3rem;
}

.carousel-control-prev-icon:after {
  content: '<';

  color: var(--color-secondary);
  font-size: 1.5rem;
  transform: matrix(2, 0, 0, 3, 0, 0);
}

.carousel-control-next-icon:after {
  content: '>';

  color: var(--color-secondary);
  font-size: 1.5rem;
  transform: matrix(2, 0, 0, 3, 0, 0);
}

/* Beneficios */

.beneficios {
  display: flex;
  justify-content: center;
}

.beneficios h2 {
  text-transform: uppercase;
  text-align: center;

  color: #BABABA;
  font-size: 2rem;
  margin: 1rem;
  padding-top: 3rem;
}

/* Quartos */
.quartos h2 {
  font-weight: bold;


  color: var(--color-secondary);
  font-size: 2.5rem;
  margin-left: 3rem;

}

.quartos p {
  font-weight: bold;

  color: #BABABA;
  font-size: .85rem;
  margin-left: 3rem;
}

.image-quartos {
  height: 17rem;
  filter: brightness(70%);
  margin: 1rem;
  width: 20rem;
}

.quartos-info {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  position: absolute;
  text-align: center;

  color: var(--font-color);
  left: 6rem;
  top: 8.5rem;
}

.quartos-info h3 {
  font-size: 1.7rem;
  font-weight: bold;
}

.quartos-info p {
  margin-top: -.5rem;
}

.quartos-info-mais a {
  font-weight: bold;

  border: var(--border);
  border-radius: var(--bordar-radius);
  color: var(--font-color);
  margin: 2.5rem .3rem;
  padding: .5rem 3rem;
}

.todos-quartos {
  display: inline-block;
  position: absolute;
  left: 3rem;
  top: 20rem;
  z-index: 1;
}

.todos-quartos a {
  border: 2px solid #9A9A9A;
  color: #9A9A9A;
  padding: .5rem 3rem;
}

/* Local */

.local {
  background-color: #28282a;
  color: var(--font-color);
  margin-top: 4rem;
  padding-bottom: 1rem;
}

.local p {
  display: flex;

  font-size: 1rem;
  font-weight: 700;
  margin: 2rem 0rem 2rem 1rem;
}

/* Promoções */

.image-promocoes {
  height: 20rem;

}

.promocoes {
  margin-top: 3rem;
}

.promo img:first-child {
  height: 25rem;
  margin-left: 4rem;
}

/* Maps */

.map {
  display: flex;
  justify-content: center;

  margin-top: 2rem;
}

.maps {
  border-radius: 1rem;
  height: 22rem;
  width: 22rem;
  z-index: 2;
}

.endereco {
  background-color: #272729;
  display: inline-block;
  padding-bottom: 1rem;
  padding-top: 3rem;
  position: absolute;
  top: 22rem;
  z-index: 1;
}

.endereco p {
  text-align: center;

  color: var(--font-color);
  font-weight: 600;
  margin: 0 5rem;
}

.endereco-rota {
  display: flex;
  justify-content: center;

  margin-top: .5rem;
}

.endereco-rota a {
  border: none;
  text-align: center;
  width: 20rem;
}

/* Footer */

.footer {
  display: inline-block;

  background-color: #707070;
  padding-top: 3rem;
  padding-bottom: 4rem;
  position: absolute;
  top: 8rem;
  width: 100%;
}

.contatos .endereco-rota {
  flex-direction: column;
  
  margin: 0 2rem;
}

.secondary a{
  background-color: #ffffff00;
  border: var(--border);
}